:root {
    --custom-red: #CB2431;
    --custom-light-red: #ffefef;
    --custom-green:  #69BA5E;
    --custom-dark-green: #58a34d;
    --custom-brown: #635748;
}


.input-section {
    margin-top: 1.6rem;
}

input[type=text], input[type=number], textarea {
    display: block;
    width: 100%;
    line-height: 2.8rem;
    border: 1px solid var(--custom-brown);
    border-radius: 4px;
    padding: 0 .8rem;
}


input[type=text]:focus, textarea:focus {
    border-color: var(--custom-green);
}

.error {
    border-color: var(--custom-red);
    background-color: var(--custom-light-red);
}

input.error {
    border-color: var(--custom-red);
}

.error-message {
    color: var(--custom-red);
}

label {
    font-size: 0.9rem;
    font-weight: 700;
}

button {
    margin-top: 1.6rem;
    background-color: var(--custom-green);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 6.4rem;
    font-size: inherit;
    font-weight: 700;
    line-height: 2.6rem;
    outline: none;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 100%;
    transition: background .1s;
}
button:hover{
    background-color: var(--custom-dark-green);
}


.radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.radio-set {
    flex-wrap: wrap;
    margin-right: 10px;
    display: inline;
}
.radio-set label {
    margin-left:10px;
}
.checkbox label{
    margin-left: 10px;
}