* {
    margin: 0;
    padding: 0;
}

:root {
    --custom-background: #EEE9DB;
    --custom-red: #CB2431;
    --custom-light-red: #ffefef;
    --custom-green:  #69BA5E;
    --custom-dark-green: #58a34d;
    --custom-brown: #635748;
    --custem-border-beige: #d0b899;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--custom-background);
}

.container {
    color: var(--custom-brown);
    padding: 40px;
}