* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #EEE9DB;
    --font-color: #635748;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.container {
    color: var(--font-color);
    width: 500px;
    padding: 40px;
}